{% extends 'base.html' %}

{% block content %}
    <h1>hello and welcome to N DEME JIRI </h1>

    <form action="result" method='post'>

        {%csrf_token%}

        Enter your phone number : <input type = "text" name="phone_number"><br>
        Select Cercle: 
        <input list="Cercles" name="cercle_id">
        <datalist id="Cercles">
            <option value="Sikasso">
            <option value="Koutiala">
            <option value="Bougouni">
            <option value="Kadiolo">
            <option value="Kolondiéba">
            <option value="Yanfolila">
            <option value="Yorosso">
        </datalist><br>
        
        Select tree type:
        <input list="Trees" name="tree_id">
        <datalist id="Trees">
            <option value="Pterocarpus erinaceus">
            <option value="Terminalia habeensis">
            <option value="Afzelia Africana">
            <option value="Khaya senegalensis">
            <option value="Dalbergia melanoxylon">
            <option value="Unknown">
        </datalist><br>
        
        How many trees are there? <input type = "text" name="tree_num"><br> 

        <input type = "submit">
    </form><br>
    <h1>Data collected from online form.</h1>
    <table>
        <tr>
            <th>Phone number</th>
            <th>Cercle</th>
            <th>Tree</th>
            <th>Tree count</th>
        </tr>
        {% for item in query_results %}
        <tr> 
            <td>{{ item.phone_number }}</td>
            <td>{{ item.cercle }}</td>
            <td>{{ item.tree }}</td>
            <td>{{ item.tree_count }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Data collected from Calling Center.</h1>
    <table>
        <tr>
            <th>Phone number</th>
            <th>Cercle</th>
            <th>Tree</th>
            <th>Tree count</th>
        </tr>
        {% for i in query_results_phone %}
        <tr> 
            <td>{{ i.phone }}</td>
            <td>{{ i.cercle_num }}</td>
            <td>{{ i.tree_num }}</td>
            <td>{{ i.tree_count }}</td>
        </tr>
        {% endfor %}
    </table>

{%endblock%}